body {
	width: 100vw;
	height: 100vh;
}

.container {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
  	gap: 10%;
  	border: solid 1px;
  	width: 100px;
  	height: 100px;
  	transform: rotate(45deg);
}

.corner {
	background-color: lightblue; /* Optional: for visual distinction */
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 1.2em;
  	border-radius: 50%;
}