.nier_button .header_square {
	background-color: #4d493e;
	width: 0.9375rem;
	height: 0.9375rem;
}

.nier_button:hover .header_square {
	background-color: #dad4bb;
}

.nier_button {
	height: 1.5rem;
	margin-top: 1.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 0.25rem;
	border: none;
	padding: 0.4rem 1rem;
	background-color: rgba(77, 73, 62, .35);
	color: #4d493e;
	box-sizing: content-box;
	position: relative;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
	user-select: none;
}

.nier_button::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	top: 3px;
	bottom: 3px;
	width: 0;
	background-color: #4d493e;
	transition: width 0.2s;
}

.nier_button::after {
	content: "";
	display: none;
	position: absolute;
	background: #4d493e;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -4px;
}

.nier_button:hover,.nier_button:focus {
	background-color: transparent;
	color: #c8c2aa;
	border-color: #4d493e;
}

.nier_button:hover::before,.nier_button:focus::before {
	width: 100%;
}