body {
   	background-color: #c8c2aa;
	background-size: 4px 4px;
	background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, .07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, .07) 4px);
	color: #4d493e;
	margin: 0;
	font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	min-height: 100vh;
	box-shadow: inset 0 0 150px rgba(77, 73, 62, .4);
	letter-spacing: 0.1rem;
}

#site_wrap {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: column;
}

#header_top {
	min-height: 2.625rem;
	display: flex;
}

#logo_header {
	width: 6.0625rem;
}

nav {
	flex: 1;
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	user-select: none;
}

nav > ul {
	background-image: linear-gradient(90deg, rgba(77, 73, 62, .45), rgba(77, 73, 62, .45) 14px, transparent 14px, transparent 20px, rgba(77, 73, 62, .45) 20px, rgba(77, 73, 62, .45) 23px, transparent 23px);
	list-style-type: none;
	font-weight: 500;
	width: 100%;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2.75rem;
	padding-right: 1.973rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transform-origin: top;
}
nav > ul > li {
	background-color: rgba(77, 73, 62, .3);
	height: 1.625rem;
	width: 12rem;
	display: flex;
	align-items: center;
	position: relative;
}

nav > ul > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 73, 62, 0);
  z-index: 0;
  transition: height 0.1s ease-in;
}

nav > ul > li:hover::before, nav > ul > li:focus::before {
	height: 2.125rem;
	background-color: rgba(77, 73, 62, 1);
	color: #c8c2aa;
}

.icon {
	background-color: #4d493e;
	fill: #c8c2aa;
	stroke: #4d493e;
	width: 1.1875rem;
	height: 1.1875rem;
	padding: 0.0625rem;
	margin-left: 0.375rem;
	margin-right: 0.25rem;
}

#ic_abt {
	fill: #4d493e;
	stroke: #c8c2aa;
}

nav a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	letter-spacing: 0.2rem;
	font-size: 1rem;
	color: #4d493e;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

nav > ul > li:hover a {
	color: #c8c2aa;
}

nav > ul > li:hover .icon {
	background-color: #c8c2aa;
	fill: #4d493e;
	stroke: #c8c2aa;
}

nav > ul > li:hover #ic_abt {
	fill: #c8c2aa;
	stroke: #4d493e;
}

.pattern_container {
	border-top: 2px solid #4d493e;
}

.pattern_outer {
	padding: 0 4rem;
}
.pattern_inner {
	height: 0.875rem;
	background-size: 50px 3px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px;
	background-position: 0 0, 22px 4px, 22px 5px, 22px 6px, 22px 7px, 28px 12px, 28px 13px, 28px 14px, 28px 15px;
	background-image: linear-gradient(90deg, #4d493e, #4d493e 10px, transparent 10px), linear-gradient(90deg, rgba(77, 73, 62, .4), rgba(77, 73, 62, .4) 1px, rgba(77, 73, 62, .8) 1px, rgba(77, 73, 62, .8) 2px, rgba(77, 73, 62, .9) 2px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .4) 3px, rgba(77, 73, 62, .4) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, .4) 12px, rgba(77, 73, 62, .4) 13px, rgba(77, 73, 62, .8) 13px, rgba(77, 73, 62, .8) 14px, rgba(77, 73, 62, .9) 14px, rgba(77, 73, 62, .9) 15px, rgba(77, 73, 62, .4) 15px, rgba(77, 73, 62, .4) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, .9), rgba(77, 73, 62, .9) 1px, rgba(77, 73, 62, 1) 1px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 3px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .9) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, .9) 12px, rgba(77, 73, 62, .9) 13px, rgba(77, 73, 62, 1) 13px, rgba(77, 73, 62, 1) 14px, rgba(77, 73, 62, 1) 14px, rgba(77, 73, 62, 1) 15px, rgba(77, 73, 62, .9) 15px, rgba(77, 73, 62, .9) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, .9), rgba(77, 73, 62, .9) 1px, rgba(77, 73, 62, 1) 1px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 3px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .9) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, .9) 12px, rgba(77, 73, 62, .9) 13px, rgba(77, 73, 62, 1) 13px, rgba(77, 73, 62, 1) 14px, rgba(77, 73, 62, 1) 14px, rgba(77, 73, 62, 1) 15px, rgba(77, 73, 62, .9) 15px, rgba(77, 73, 62, .9) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, .4), rgba(77, 73, 62, .4) 1px, rgba(77, 73, 62, .8) 1px, rgba(77, 73, 62, .8) 2px, rgba(77, 73, 62, .9) 2px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .4) 3px, rgba(77, 73, 62, .4) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, .4) 12px, rgba(77, 73, 62, .4) 13px, rgba(77, 73, 62, .8) 13px, rgba(77, 73, 62, .8) 14px, rgba(77, 73, 62, .9) 14px, rgba(77, 73, 62, .9) 15px, rgba(77, 73, 62, .4) 15px, rgba(77, 73, 62, .4) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, .4), rgba(77, 73, 62, .4) 1px, rgba(77, 73, 62, .8) 1px, rgba(77, 73, 62, .8) 2px, rgba(77, 73, 62, .9) 2px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .4) 3px, rgba(77, 73, 62, .4) 4px, transparent 4px), linear-gradient(90deg, rgba(77, 73, 62, .9), rgba(77, 73, 62, .9) 1px, rgba(77, 73, 62, 1) 1px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 3px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .9) 4px, transparent 4px), linear-gradient(90deg, rgba(77, 73, 62, .9), rgba(77, 73, 62, .9) 1px, rgba(77, 73, 62, 1) 1px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 2px, rgba(77, 73, 62, 1) 3px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .9) 4px, transparent 4px), linear-gradient(90deg, rgba(77, 73, 62, .4), rgba(77, 73, 62, .4) 1px, rgba(77, 73, 62, .8) 1px, rgba(77, 73, 62, .8) 2px, rgba(77, 73, 62, .9) 2px, rgba(77, 73, 62, .9) 3px, rgba(77, 73, 62, .4) 3px, rgba(77, 73, 62, .4) 4px, transparent 4px);
	background-repeat: repeat-x;
}

h1 {
	text-transform: uppercase;
   	font-weight: 300;
   	letter-spacing: 0.7rem;
   	text-shadow: 0.3rem 0.3rem 0 rgba(77, 73, 62, .3);
}

main {
	display: flex;
	flex: 1;
}

#title {
	position: relative;
	width: 6.0625rem;
	user-select: none;
}

#title > h1 {
	transform: rotate(-90deg) translateX(-22%); /* rotates text 90 degrees clockwise */
  	transform-origin: top left; /* adjust pivot if needed */
  	position: absolute;
  	bottom: 0;
  	font-family: 'Cinzel', serif;
  	font-size: 4.5rem;
  	font-weight: bold;
  	text-shadow: -0.45rem 0.45rem 0 rgba(77, 73, 62, .4);
  	letter-spacing: 1rem;
}

#content {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#label {
	height: 3.4375rem;
	display: flex;
	align-items: center;
	user-select: none;
}

#label > h1 {
	margin-top: 0;
}

h1 > span {
	margin-left: 0;
	margin-right: -0.7rem;
	font-size: 2.0rem;
}

h1 > small {
	font-weight: 500;
	font-size: 0.70em;
   	text-transform: none;
   	text-shadow: none;
   	letter-spacing: 0.4rem;
}

#columns {
	background-image: linear-gradient(90deg, rgba(77, 73, 62, .45), rgba(77, 73, 62, .45) 14px, transparent 14px, transparent 20px, rgba(77, 73, 62, .45) 20px, rgba(77, 73, 62, .45) 23px, transparent 23px);
	flex: 1;
	padding-left: 2.75rem;
	padding-right: 1.973rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.973rem;
	font-size: 0.8125rem;
}

#A {
	display: flex;
	flex-direction: column;
}

.block_header {
	background-color: #4d493e;
	color: #c8c2aa;
	height: 1.625rem;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

.header_square {
	background-color: #dad4bb;
	width: 0.875rem;
	height: 0.875rem;
	margin-right: 0.3125rem;
}

.thumbnail {
	height: 67%;
	background-color: #dad4bb;
	box-shadow: 5px 5px rgba(77, 73, 62, .4);
	display: flex;
	flex-direction: column;
}

.block_header.thumbnail_header {
	background-color: #8c8877;
	color: #c8c2aa;
}

.block_content{
	flex: 1;
	padding: 0 0.75rem;
	padding-top: 0.75rem;
	position: relative;
}

.thumbnail_img {
	background-color: #b4af9a;
	background-image: url("./assets/portrait4.png");
	background-size: cover;
	background-position: top;
	height:75%;
	margin-bottom: 0.9rem;
	margin-left: 0.515rem;
	margin-right: 0.515rem;
}

hr {
	border: none;
	height: 2px;
	background-color: #4d493e;
}

.block_content span {
	position: absolute;
	right: 0.75rem;
	bottom: 0.53rem;
	font-size: 1rem;
	letter-spacing: 0.25rem;
}

.block_square.thumb_square {
	background-color: #4d493e;
}

#button_container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.nier_button .header_square {
	background-color: #4d493e;
	width: 0.9375rem;
	height: 0.9375rem;
}

.nier_button:hover .header_square {
	background-color: #dad4bb;
}

.nier_button {
	height: 1.5rem;
	margin-top: 1.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 0.25rem;
	border: none;
	padding: 0.4rem 1rem;
	background-color: rgba(77, 73, 62, .35);
	color: #4d493e;
	box-sizing: content-box;
	position: relative;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
	user-select: none;
}

.nier_button::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	top: 3px;
	bottom: 3px;
	width: 0;
	background-color: #4d493e;
	transition: width 0.2s;
}

.nier_button::after {
	content: "";
	display: none;
	position: absolute;
	background: #4d493e;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -4px;
}

.nier_button:hover,.nier_button:focus {
	background-color: transparent;
	color: #c8c2aa;
	border-color: #4d493e;
}

.nier_button:hover::before,.nier_button:focus::before {
	width: 100%;
}

.slideshow {
	background-color: #dad4bb;
	grid-column: span 2;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.slideshow .block_content {
	padding: 1.3125rem 1.1875rem;
	display: flex;
}

.carousel {
	width: 100%;
	height: 100%;
	margin: 0 0.35rem;
	position: relative;
}

.carousel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.carousel li {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	transition-delay: 200ms;
}

.carousel li[data-active] {
	opacity: 1;
	transition-delay: 0;
}

.carousel li > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


.slideshow hr {
	position: absolute;
	left: 1.1875rem;
	right: 1.1875rem;
}

#hr_a {
	top: 0.1rem;
}

#hr_b {
	bottom: 0.1rem;
}

#control_bar {
	height: 4.625rem;
	padding-right: 1.973rem;
	display: flex;
	display-direction: column;
	position: relative;
}

#bar {
	background-color: #dad4bb;
	background-image: linear-gradient(90deg, rgba(77, 73, 62, 1), rgba(77, 73, 62, 1) 14px, transparent 14px, transparent 20px, rgba(77, 73, 62, 1) 20px, rgba(77, 73, 62, 1) 23px, transparent 23px);
	height: 2.626rem;
	width: 100%;
	margin-bottom: 16px;
	margin-top: auto;
	padding-left: 42px;
	padding-right: 25px;
	display: flex;
	justify-items: space-between;
	box-shadow: 5px 5px rgba(77, 73, 62, .4);
}

#bar_text {
	height: 100%;
	width: 42%;
	display: flex;
	align-items: center;
}

h2 {
   	font-weight: 300;
   	letter-spacing: 0.35rem;
   	font-size: 1.25rem;
}

#controls {
	height: 100%;
	width: 58%;
	display: flex;
	align-items: center;
	user-select: none;
}

#controls > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	letter-spacing: 0.25rem;
	font-size: 0.9rem;
}

#controls > ul > li {
	margin-left: 1rem;
	display: flex;
	align-items: center;
}

#controls > ul > li > label {
	padding: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#controls li:hover label{
  text-shadow: 1px 1px 0 rgba(77, 73, 62, .3);
}

.slideshow_arrow {
	width: 15px;
	height: 15px;
	border: none;
	background: transparent;
	border-top: solid 0.2rem #4d493e;
	border-left: solid 0.2rem #4d493e;
	position: relative;
	z-index: 1;
}

.slideshow_arrow:hover {
	cursor: pointer;
}

#slideshow_next {
	transform: rotate(135deg);
	margin-right: 0.4rem;
}

#slideshow_previous {
	transform: rotate(315deg);
	margin-right: -0.1rem;
}

#music_toggle {
	width: 0;
	height: 0;
	display: none;
}

#music_toggle_icon {
	background-color: #4d493e;
	height: 18px;
	width: 46px;
	margin-right: 0.4rem;
	border-radius: 46px;
	display: inline-block;
	position: relative;
}

#music_toggle_icon:after {
	content: "";
	background-color: #8c8877;
	position: absolute;
	top: 2px;
	left: 4px;
	width: 14px;
	height: 14px;
	border-radius: 18px;
	transition: 0.078s;
}

#music_toggle:checked + label #music_toggle_icon:after {
	transform: translateX(24px);
	transition: 0.078s;
}

footer {
	height: 1.1875rem;
}