:root {
	--section_height: calc(100vh * 0.872);
	--section_width: calc(var(--section_height) * 2.346);
	--title_gap: calc(var(--section_width) * 0.1226);
	--section_content_width: calc(var(--section_width) * 0.841);
	--section_content_left_gap: calc(var(--section_width) * 0.05);
	--section_column_gap: calc(var(--section_width) * 0.0396);
	--box_width: calc((var(--section_content_width) - 2 * var(--section_column_gap)) / 3) ;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
	background-color: black;
	color: #c8bf9b;
	margin: 0;
	font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	min-height: 100vh;
	letter-spacing: 0.1rem;
}

.nier_button .header_square {
	background-color: #1c1814;
	margin-right: 0.3em;
}

.nier_button:hover .header_square {
	background-color: #a49d82;
}

.nier_button {
	height: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	font-size: 1.5rem;
	letter-spacing: 0.25rem;
	border: none;
	padding: 0.4rem 1rem;
	background-color: #a49d82;
	color: #1c1814;
	box-sizing: content-box;
	position: relative;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
	user-select: none;
	z-index: 0;
}

.nier_button::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	top: 3px;
	bottom: 3px;
	width: 0;
	background-color: #4d493e;
	transition: width 0.2s;
}

.nier_button::after {
	content: "";
	display: none;
	position: absolute;
	background: #4d493e;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -4px;
}

.nier_button:hover,.nier_button:focus {
	background-color: transparent;
	color: #a49d82;
	border-color: #4d493e;
}

.nier_button:hover::before,.nier_button:focus::before {
	width: 100%;
}

#site_wrap {
		width: 100%;
}

header {
	max-width: 100%;
	height: 64px;
	background-color: #1c1814;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	border-bottom: solid 2px black;
	transition: transform 0.3s ease;
}

header {
	position: sticky;
	top: 0;
	z-index: 1000;
	max-width: 100%;
	height: 64px;
	background-color: #1c1814;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3%;
	border-bottom: solid 2px black;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
	transition: transform 0.3s ease-in-out;
}

header.nav-hidden { 
	transform: translateY(-100%);
}


header > img {
	background-color: #dad4bb;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
	max-height: 80%;
	aspect-ratio: 1;
}

nav > ul{
	list-style: none;
	height: 100%;
}

nav > ul > li {
	display: inline-block;
	padding: 0 20px;
	font-size: 1.25rem;
}

nav > ul > li:hover {
	background-color: rbga(255, 255, 255, 1);
	opacity: 0.5;
}


nav > ul > li > a {
	text-decoration: none;
	color: inherit;
}

header > label {
	display: flex;
	align-items: center;
	gap: 3px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #8c8877;
  border-radius: 0.4rem;
  height: 0.4rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: #353326;
  border-radius: 0.4rem;
  height: 0.4rem;
  width: 15%;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #353326;
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  background-color: #8c8877;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: #353326;
  border: none;
  border-radius: 0.5rem;
  height: 0.5rem;
  width: 7%;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #353326;
  outline-offset: 0.125rem;
}

#music_toggle_container {
	position: absolute;
	bottom: 1.5vh;
	right: 3.5vw;
	z-index: 1000;
	color: rgba(255, 255, 255, 0.4);
	user-select: none;
	cursor: pointer;
}

#music_toggle_container label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#music_toggle {
	width: 0;
	height: 0;
	display: none;
}

#music_toggle_icon {
	background-color: #4d493e;
	height: 18px;
	width: 46px;
	margin-right: 0.4rem;
	border-radius: 46px;
	display: inline-block;
	position: relative;
}

#music_toggle_icon:after {
	content: "";
	background-color: #8c8877;
	position: absolute;
	top: 2px;
	left: 4px;
	width: 14px;
	height: 14px;
	border-radius: 18px;
	transition: 0.078s;
}

#music_toggle:checked + label #music_toggle_icon:after {
	transform: translateX(24px);
	transition: 0.078s;
}

main {
	background-color: #1c1814;
	background-size: 9px 9px;
  background-image: linear-gradient(to right, rgba(16, 9, 3, 0.5) 1px, transparent 1px), linear-gradient(to bottom, rgba(16, 9, 3, 0.5) 1px, transparent 1px);
  width: min(100%, var(--section_width));
  margin: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.pattern_container {
	border-top: 2px solid #8c8877;
}

.pattern_outer {
	padding: 0 4rem;
}
.pattern_inner {
	height: 0.875rem;
	background-size: 50px 3px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px;
	background-position: 0 0, 22px 4px, 22px 5px, 22px 6px, 22px 7px, 28px 12px, 28px 13px, 28px 14px, 28px 15px;
	background-image: linear-gradient(90deg, #8c8877, #8c8877 10px, transparent 10px), linear-gradient(90deg, rgba(140, 136, 119, .4), rgba(140, 136, 119, .4) 1px, rgba(140, 136, 119, .8) 1px, rgba(140, 136, 119, .8) 2px, rgba(140, 136, 119, .9) 2px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .4) 3px, rgba(140, 136, 119, .4) 4px, transparent 4px, transparent 12px, rgba(140, 136, 119, .4) 12px, rgba(140, 136, 119, .4) 13px, rgba(140, 136, 119, .8) 13px, rgba(140, 136, 119, .8) 14px, rgba(140, 136, 119, .9) 14px, rgba(140, 136, 119, .9) 15px, rgba(140, 136, 119, .4) 15px, rgba(140, 136, 119, .4) 16px, transparent 16px), linear-gradient(90deg, rgba(140, 136, 119, .9), rgba(140, 136, 119, .9) 1px, rgba(140, 136, 119, 1) 1px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 3px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .9) 4px, transparent 4px, transparent 12px, rgba(140, 136, 119, .9) 12px, rgba(140, 136, 119, .9) 13px, rgba(140, 136, 119, 1) 13px, rgba(140, 136, 119, 1) 14px, rgba(140, 136, 119, 1) 14px, rgba(140, 136, 119, 1) 15px, rgba(140, 136, 119, .9) 15px, rgba(140, 136, 119, .9) 16px, transparent 16px), linear-gradient(90deg, rgba(140, 136, 119, .9), rgba(140, 136, 119, .9) 1px, rgba(140, 136, 119, 1) 1px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 3px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .9) 4px, transparent 4px, transparent 12px, rgba(140, 136, 119, .9) 12px, rgba(140, 136, 119, .9) 13px, rgba(140, 136, 119, 1) 13px, rgba(140, 136, 119, 1) 14px, rgba(140, 136, 119, 1) 14px, rgba(140, 136, 119, 1) 15px, rgba(140, 136, 119, .9) 15px, rgba(140, 136, 119, .9) 16px, transparent 16px), linear-gradient(90deg, rgba(140, 136, 119, .4), rgba(140, 136, 119, .4) 1px, rgba(140, 136, 119, .8) 1px, rgba(140, 136, 119, .8) 2px, rgba(140, 136, 119, .9) 2px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .4) 3px, rgba(140, 136, 119, .4) 4px, transparent 4px, transparent 12px, rgba(140, 136, 119, .4) 12px, rgba(140, 136, 119, .4) 13px, rgba(140, 136, 119, .8) 13px, rgba(140, 136, 119, .8) 14px, rgba(140, 136, 119, .9) 14px, rgba(140, 136, 119, .9) 15px, rgba(140, 136, 119, .4) 15px, rgba(140, 136, 119, .4) 16px, transparent 16px), linear-gradient(90deg, rgba(140, 136, 119, .4), rgba(140, 136, 119, .4) 1px, rgba(140, 136, 119, .8) 1px, rgba(140, 136, 119, .8) 2px, rgba(140, 136, 119, .9) 2px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .4) 3px, rgba(140, 136, 119, .4) 4px, transparent 4px), linear-gradient(90deg, rgba(140, 136, 119, .9), rgba(140, 136, 119, .9) 1px, rgba(140, 136, 119, 1) 1px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 3px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .9) 4px, transparent 4px), linear-gradient(90deg, rgba(140, 136, 119, .9), rgba(140, 136, 119, .9) 1px, rgba(140, 136, 119, 1) 1px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 2px, rgba(140, 136, 119, 1) 3px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .9) 4px, transparent 4px), linear-gradient(90deg, rgba(140, 136, 119, .4), rgba(140, 136, 119, .4) 1px, rgba(140, 136, 119, .8) 1px, rgba(140, 136, 119, .8) 2px, rgba(140, 136, 119, .9) 2px, rgba(140, 136, 119, .9) 3px, rgba(140, 136, 119, .4) 3px, rgba(140, 136, 119, .4) 4px, transparent 4px);
	background-repeat: repeat-x;
}

.section {
	width: min(84%, var(--section_content_width));
	margin-left: min(12%, var(--title_gap));
	/*border: solid 1px pink;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: calc(var(--section_height) * 0.12);
}

.section_content_wrapper {
	width: 100%;
	height: fit-content;
	background-image: linear-gradient(90deg, #8c8877, #8c8877 14px, transparent 14px, transparent 20px, #8c8877 20px, #8c8877 23px, transparent 23px);
	display: flex;
}

.no_sidebar {
	background-image: none;
}

.section_content {
	width: 100%;
	height: fit-content;
	/*border: solid 1px;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--section_column_gap);
	margin-left: var(--section_content_left_gap);
}

.section_content div {
	/*border: solid 1px;*/
}

h1 {
	padding: 0;
	margin: 0;
	font-size: calc(var(--box_width) * 0.155);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.7rem;
	text-shadow: 0.2rem 0.2rem 0 rgba(140, 136, 119, 0.4);
	display: flex;
	flex-direction: column;
}

h1 span {
	margin-right: -0.7rem;
	margin-bottom: 0.1em;
}

h1 small {
	font-weight: 300;
	text-transform: none;
	text-shadow: none;
	letter-spacing: 0.1rem;
	font-size: 0.55em;
	width: 100%;
	text-align: right;
	position: relative;
	right: -0.45em;
}